.watermark {
  display: flex;
  position: fixed;
}

.watermark-desktop {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.watermark-mobile {
  @media (min-width: 600px) {
    display: none !important;
  }
}

#Watermark1 {
  position: absolute;
  right: -5px;
  bottom: 10px;

  * {
    color: #ffffff;
    letter-spacing: 20px;
    font-size: 36px;
  }
}

#Watermark2 {
  position: absolute;
  left: 15px;
  bottom: 10px;

  * {
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 20px;
  }
}

#Watermark3 {
  flex-direction: column;
  right: 0;
  bottom: 0;
  margin: 30px 75px;
  letter-spacing: 10px;
  opacity: 0.5;

  p {
    transform: translateX(1px);
  }
}

#Watermark4 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;
  margin-top: 10px;
  letter-spacing: 10px;
  opacity: 0.5;

  transform: translateX(10px);

  * {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }

  p {
    font-size: 8px;
    transform: translateX(1px);
    letter-spacing: 1.8px;
  }
}

#Watermark5 {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px 0;

  * {
    color: #ffffff;
    letter-spacing: 9px;
    font-size: 20px;
    white-space: nowrap;
  }
}

#Watermark6 {
  flex-direction: column;
  right: 0;
  bottom: 0;
  margin: 30px 75px;
  letter-spacing: 7px;
  opacity: 0.5;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
    transform: translateX(1px);
    letter-spacing: 8.6px;
  }
}
#Watermark7 {
  flex-direction: column;
  right: 0;
  bottom: 0;
  margin: 30px 75px;
  letter-spacing: 7px;
  opacity: 0.5;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
    transform: translateX(1px);
  }
}

#Watermark7 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
    letter-spacing: 5.3px;
    transform: translateX(1px);
  }
}

.watermark-main {
  position: absolute;
  top: auto;
  bottom: 5%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  * {
    transition: all 1s;
    opacity: 0.5;
    color: #ffffff;
  }
}
.bg-image-1-result {
  .watermark-main {
    * {
      opacity: 1;
      color: #000;
    }
  }
}
